asgiref==3.3.1
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
chardet==4.0.0
constantly==15.1.0
cryptography==3.4.4
daphne==3.0.1
Django==2.2.15
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
numpy==1.20.1
opencv-python==4.5.1.48
Pillow==8.1.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
pytz==2021.1
requests==2.25.1
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
Twisted @ file:///D:/Work/Codes/Django/ChatServerPlayground/venv/src/Twisted-20.3.0-cp38-cp38-win_amd64.whl
txaio==20.12.1
urllib3==1.26.3
zope.interface==5.2.0
